#form textarea{
    width: 100%;
    height: 150px;
    border-radius: 8px;
}
#form .legal{
    font-size: 0.7em;
}
#form input{
    width: 100%;
    height: 30px;
    font-weight: 600;
    margin-top: 20px;
}